/*Favorite colors selected from Nick's color scheme, credit due to: Nick Milo CyberTron Theme  */

.theme-dark .graph-view.color-fill-tag {
    color: #5dbcd2;
}

.theme-dark .graph-view.color-fill-attachment {
    color: #d669bc;
}

.theme-dark .graph-view.color-fill-unresolved {
    color: #9e8aff;
    Opacity:1;
}

.theme-dark .graph-view.color-arrow {
    color: #d669bc;
}

/**********************/
/* Graph View */
/**********************/

.graph-view.color-fill {
    color: #fcf601;
}

.theme-dark {
    --background-primary: #2f3136;
    --background-primary-alt: #36393f;

}

/*Added personal touches to reflect "tron" styling*/

/*body {*/
/*    background-color:#36393f;*/
/*}*/

.fancy-header {
    /*color: blue; !* single line comment *!*/
    text-decoration: underline;
    color: #9e8aff;
    Opacity:1;
}

/*.fancy-header {*/
/*    color: #291d60; !* single line comment *!*/
/*    text-decoration: underline;*/
/*}*/
.theme-dark {
    /*--background-primary: #2f3136;*/
    background-color: #2f3136;
    color: #5dbcd2;
    /*--background-primary-alt: #36393f;*/
}
/*}*/

.navbar-custom {
    background-color: #2f3136;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}