/*@media (prefers-color-scheme: dark) {*/
/*    .theme-dark {*/
/*        !*--background-primary: #2f3136;*!*/
/*        background-color: #2f3136;*/
/*        color: #5dbcd2;*/
/*        !*--background-primary-alt: #36393f;*!*/
/*    }*/
/*}*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width: 320px)
and (max-width: 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width: 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width: 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width: 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width: 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}

/*Favorite colors selected from Nick's color scheme, credit due to: Nick Milo CyberTron Theme  */

.theme-dark .graph-view.color-fill-tag {
    color: #5dbcd2;
}

.theme-dark .graph-view.color-fill-attachment {
    color: #d669bc;
}

.theme-dark .graph-view.color-fill-unresolved {
    color: #9e8aff;
    Opacity:1;
}

.theme-dark .graph-view.color-arrow {
    color: #d669bc;
}

/**********************/
/* Graph View */
/**********************/

.graph-view.color-fill {
    color: #fcf601;
}

.theme-dark {
    --background-primary: #2f3136;
    --background-primary-alt: #36393f;
    /*background: linear-gradient(#e66465, #9198e5);*/
    /*background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),*/
    /*linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),*/
    /*linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/





    /*   ^ Too much fun with linear-gradients ^ */
    
}

/*Added personal touches to reflect "tron" styling*/

/*body {*/
/*    background-color:#36393f;*/
/*}*/

.fancy-header {
    /*color: blue; !* single line comment *!*/
    text-decoration: underline;
    color: #9e8aff;
    Opacity:1;
}

/*.fancy-header {*/
/*    color: #291d60; !* single line comment *!*/
/*    text-decoration: underline;*/
/*}*/

.theme-dark {
    /*--background-primary: #2f3136;*/
    background-color: #2f3136;
    color: #5dbcd2;
    /*--background-primary-alt: #36393f;*/
}

.jumbotron {
    background-image: url("../images/pizza.png");
    filter: drop-shadow(.5rem .5rem 1rem #ff3503);
    /*background-size: 100% 100%;*/
    background-size: cover;
    /*height: 100%;*/
}

.navbar-custom {
    background-color: #2f3136;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    background-color: #2f3136;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

li {
    background-color: #2f3136;
    text-color: #5dbcd2;
}
/*}*/