/*Favorite color scheme, credit due to: Nick Milo CyberTron Theme  */
/** {*/

/*    outline: 1px dashed red;*/
/*}*/

.jumbotron {
    background-image: url("../images/sunrise-amazing.png");
    background-size: cover;
    padding: 30px;
    /*background-image: linear-gradient(to right,  #5637DD, #3046C5, #60106B);*/
    /*background-image: linear-gradient(270deg,  #5637DD, #3046C5, #60106B);*/
    color: white;
    margin: 0;
}

.

.theme-dark .graph-view.color-fill-tag {
    color: #5dbcd2;
}

.theme-dark .graph-view.color-fill-attachment {
    color: #d669bc;
}

.theme-dark .graph-view.color-fill-unresolved {
    color: #9e8aff;
    Opacity:1;
}

.theme-dark .graph-view.color-arrow {
    color: #d669bc;
}

/**********************/
/* Graph View */
/**********************/

.graph-view.color-fill {
    color: #fcf601;
}

.theme-dark {
    --background-primary: #2f3136;
    --background-primary-alt: #36393f;

}

body {
    /*overflow: hidden;*/
    background-color: #B0D7FF;

}

.sunglasses {
    /*background-image: url("");*/

}

nav {
    background-color: #2D3142;
    box-shadow: 5px 5px 5px grey;
}

.navbar-forecast {
    padding: 10px;
    color: white;
}

h1 {
    margin: 0;
    padding-left: 10px;
    color: white;
}

article {
    margin: 0 10px 10px 10px;
    width: 100%;
}

#map {
    margin: auto;
    width: 97%;
    height: 300px;
}

#card-section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper {
    max-height: 300px;
    border: 1px solid #2D3142;
    /*display: flex;*/
    overflow-x: auto;
}

.list-item {
    margin: 0;
    background-color: #ADACB9;
    color: white;
}

p.list-item {
    width: 100%;
    box-shadow: 3em 3em 3em 3em #2D3142;
}

@media screen and (min-width: 576px) {
    .jumbotron {
        background-image: url("../assets/images/mountain-sky.png");
        background-size: cover;
        padding: 30px;
        /*background-image: linear-gradient(to right,  #5637DD, #3046C5, #60106B);*/
        /*background-image: linear-gradient(270deg,  #5637DD, #3046C5, #60106B);*/
        color: white;
        margin: 0;
    }

    body {
        overflow: hidden;
        background-color: #B0D7FF;
    }

    nav {
        background-color: #2D3142;
    }


    .navbar-forecast {
        padding: 4px;
        color: white;
    }

    h1 {
        margin: 0;
        padding-left: 10px;
        color: white;
    }

    /*This makes the cards go horizontal*/
    article {
        margin: 0 10px 10px 10px;
        display: flex;
        width: 100%;
    }

    #map {
        margin: auto;
        width: 99%;
        height: 60vh;
    }




}